In [1]:
# Importación de las librerías necesarias para el procesamiento de los datos
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [24]:
# Función para transformar una columna al formato día-hora
def dateparse (time_in_secs):    
    return datetime.datetime.fromtimestamp(float(time_in_secs))
# Lectura inicial de los datos
raw_data_bitcoin = pd.read_csv('bitstampUSD.csv', header = 0, parse_dates = [0], date_parser = dateparse)

El dataset contiene una gran cantidad de valores nulos debido al rango temporal escogido en la adquisición de datos de la página "". Estos valores se pueden eliminar del dataset, ya que no aportan ninguna información relevante sobre el precio del bitcoin.

In [25]:
# Primeras cinco columnas del dataset
raw_data_bitcoin.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 08:52:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 08:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 08:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 08:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 08:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
raw_data_bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4727777 entries, 0 to 4727776
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   Timestamp          datetime64[ns]
 1   Open               float64
 2   High               float64
 3   Low                float64
 4   Close              float64
 5   Volume_(BTC)       float64
 6   Volume_(Currency)  float64
 7   Weighted_Price     float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 288.6 MB

In [36]:
total_missing_data = raw_data_bitcoin.isna().sum().sort_values(ascending = False)
percentage_missing_data = ((raw_data_bitcoin.isna().sum()/raw_data_bitcoin.isna().count()).sort_values(ascending = False)*100).round(decimals = 3)
missing_data = pd.concat([total_missing_data, percentage_missing_data], axis = 1, keys = ["Total", "Portencaje"])
missing_data

                     Total  Portencaje
Weighted_Price     1243472      26.301
Volume_(Currency)  1243472      26.301
Volume_(BTC)       1243472      26.301
Close              1243472      26.301
Low                1243472      26.301
High               1243472      26.301
Open               1243472      26.301
Timestamp                0       0.000

In [37]:
data = raw_data_bitcoin.dropna()

In [39]:
data.head(20)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 08:52:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,2011-12-31 16:50:00,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,2011-12-31 17:59:00,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,2011-12-31 18:00:00,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,2012-01-01 05:16:00,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
1896,2012-01-01 16:28:00,4.84,4.84,4.84,4.84,10.000000,48.400000,4.840000
2333,2012-01-01 23:45:00,5.00,5.00,5.00,5.00,10.100000,50.500000,5.000000
3612,2012-01-02 21:04:00,5.00,5.00,5.00,5.00,19.048000,95.240000,5.000000
4553,2012-01-03 12:45:00,5.32,5.32,5.32,5.32,2.419173,12.870000,5.320000
4710,2012-01-03 15:22:00,5.14,5.14,5.14,5.14,0.680000,3.495200,5.140000
4742,2012-01-03 15:54:00,5.26,5.26,5.26,5.26,29.319392,154.220000,5.260000
4780,2012-01-03 16:32:00,5.29,5.29,5.29,5.29,29.302457,155.010000,5.290000
4878,2012-01-03 18:10:00,5.29,5.29,5.29,5.29,11.285444,59.700000,5.290000
4882,2012-01-03 18:14:00,5.14,5.14,5.14,5.14,0.020000,0.102800,5.140000
4894,2012-01-03 18:26:00,5.29,5.29,5.29,5.29,11.000000,58.190000,5.290000
4895,2012-01-03 18:27:00,5.29,5.29,5.29,5.29,4.010815,21.217210,5.290000
5545,2012-01-04 05:17:00,4.93,4.93,4.93,4.93,2.320000,11.437600,4.930000
5593,2012-01-04 06:05:00,4.93,4.93,4.93,4.93,9.680000,47.722400,4.930000
6049,2012-01-04 13:41:00,5.19,5.19,5.19,5.19,2.641619,13.710000,5.190000
6065,2012-01-04 13:57:00,5.19,5.19,5.19,5.19,8.724470,45.280000,5.190000